@model EnderecoModel

<h1>Endereço Completo</h1>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Logradouro</label>

            <input type="text" class="form-control col-6" asp-for="Logradouro" disabled>
        </div>
        <div class="mb-3">
            <label for="complement" class="form-label">Complemento</label>
            <input class="form-control col-5" asp-for="Complemento" disabled>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">bairro</label>
            <input type="text" class="form-control col-3" asp-for="Bairro" disabled> 
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Cidade</label>
            <input type="text" class="form-control col-3" asp-for="Localidade" disabled>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Estado</label>
            <input type="text" class="form-control col-2" asp-for="Uf" disabled>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">DDD</label>
            <input type="text" class="form-control col-1" asp-for="DDD" disabled>
        </div>
    </form>
