@Model
<div>
    <label>idade igual á</label>
    <input type="number"  @*asp-for="Idade"*@ class="form-control col-1" aria-label="Anos" />
    <a class="btn btn-danger" type="button" asp-controller="Aluno" asp-action="FiltrarIdade">Filtrar</a>

</div>