<div class="text-center"><h1>Aluno Adicionado com o sucesso!</h1>
     <p>Aperte no botão para voltar a página Alunos</p></div>

<div class="text-center">
    <a class="btn btn-primary" type="button"asp-controller="Aluno"asp-action="Index">Voltar</a>
</div>