@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Aluno(a)</h1>
    <p>Ambiente de criação</p>
</div>

@*<img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.programaria.org%2Ffalando-internetes-o-que-e-programacao-web%2F&psig=AOvVaw2DYJc4x_1YCpn1t6ttxOQq&ust=1650675388009000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCPjDkZO7pvcCFQAAAAAdAAAAABAD" />*@