<div class="text-left">
    <form>
        <div class="mb-3">
            <label>Idade igual à</label>
            <div>
                <input type="number" class="col-1"> anos
            </div>
        </div>
        <div>
            <a class="btn btn-primary col-1" role="button" asp-controller="Filtro" asp-action="FiltroIdade">Buscar</a>
        </div>
        <div class="text-center">
            <a class="btn btn-primary col-1" role="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>