@model AlunoModel

<form asp-controller="Aluno" asp-action="Index" method="post">
    <div class="mb-3">
        <label for="Name" class="form-label">Filtrar por nome:</label>
        <input type="text" asp-for="Nome" class="form-control col-4" />
    </div>
  
    <div class="mb-3">
        <label for="Idade" class="col-form-label">Idade será</label>
        <input type="number" asp-for="Idade" class="form-control col-2" id="InputFiltroIdade"> anos<br />

        <label>Qual filtro deseja aplicar a idade?</label><br />

        <select class="form-select"  asp-for="Operacao">
            <option value="1">Maior que</option>
            <option value="2">Igual que</option>
            <option value="3">Menor que</option>
        </select>

    @*<div  >
        <input asp-for="Operacao" type="radio" name="Idade" value=""1"" /> Maior que<br />
        <input asp-for="Operacao" type="radio" name="Idade" value=""2"" /> Igual que<br />
        <input asp-for="Operacao" type="radio" name="Idade" value=""3"" /> Menor que<br />
    </div>*@
    </div>
   
    <div class="mb-3">
        <label for="Name" class="form-label">Filtrar por contato:</label>
        <input type="text" asp-for="Contato" class="form-control col-3" />
    </div>
   
    <div class="text-left">
        <button type="submit" class="btn btn-primary">Filtrar</button>
        <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Index">Voltar</a>
    </div>
</form>



