<div class="text-center">
    
    <h1 class="display-4">Conhecimentos Administrados</h1>
    <p>Aspnet MVC</p>
    <p>Mocagem de Dados</p>
    <p>Conexão com bando SQL</p>
    <p>Chamada de Api externa</p>
    
</div>