<div class="text-center">
    <h1>Conhecimentos Abordados no Curso</h1>
    <p>Arquitetura MVC</p>
    <a href="https://documenter.getpostman.com/view/7064033/SWT5jMGk">Documentação - Tabela FIPE</a><br />
    <a href ="https://parallelum.com.br/fipe/api/v1/carros/marcas">Tabela FIPE (Carros, marcas)</a><br />
    <a href="https://console.hgbrasil.com/documentation/weather">API previsão do tempo</a><br />
</div>