<head>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body >
    @*<div id="Container-imagem">*@
        <h1 class="Informacoes">Informações gerais do curso!</h1>
        <h3 class="Informacoes"><i>1ª Edição</i></h3>
        <br />
        <p><b>Data de Inicio:</b>21 de junho de 2021</p>
        <p><b>Data de término:</b>01 de julho de 2022</p>
        <p></p>
        <p><b>Unidade responsável:</b>SENAC Brusque</p>
        <p><b>Coordenador da Unidade:</b>Junior Cunha</p>
        <p></p>
        <p><b>Endereço completo</b>Rod. Antônio Heil, 191 - Centro 2, Brusque - SC, 88353-100  <a href="https://www.google.com/maps/place/Faculdade+Senac+Brusque/-27.0990741,-48.9072321,15z/data=!4m5!3m4!1s0x0:0xb04bb57fad0c19d3!8m2!3d-27.0990741!4d-48.9072321"><i>(Ir ao Google Maps)</i></a></p>
        <p><b>Telefone de contato</b>(47) 3351-2626</p>
    @*</div>*@
    @*A parte de adicionar não deu muito certo, mas para ver é só descomentar a Div*@
</body>